.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-family: Lato, Arial;
}

.card {
  padding: 2em;
}

.card img {
  border-radius: 1em;
}

.card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card ul li {
  margin: 0.5em auto;
}
